__pycache__/
*.pyc
venv/
mlruns/
.pytest_cache/
data/processed/*.csv
data/raw/*.csv
data/raw/*.xlsx
!data/raw/.gitkeep
!data/processed/.gitkeep
outputs/figures/*.png
outputs/reports/*.csv
outputs/figures_real/*.png
outputs/reports_real/*.csv
~$*
